.App {
  text-align: center;
}
input {
  background-color: var(--default-bg-color);
  border: 1px solid var(--secondary-hover);
  margin: var(--scale-sm) 0;
  outline: 1px solid transparent;
  padding: var(--scale-sm) var(--scale-md);
  width: 95%;
}
.wrapper {
  max-width: 50%;
  margin: auto;
  padding: 2rem;
  margin-top: 3rem;
}

